<a href="https://colab.research.google.com/github/asingh3811/E-commerce/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import xlwt
from xlwt.Workbook import *
from pandas import ExcelWriter
import xlsxwriter

In [ ]:
order_report = pd.read_excel('/content/Company X - Order Report.xlsx')
sku_master = pd.read_excel('/content/Company X - SKU Master.xlsx')
pincode_mapping = pd.read_excel('/content/Company X - Pincode Zones.xlsx')
courier_invoice = pd.read_excel('/content/Courier Company - Invoice.xlsx')
courier_company_rates = pd.read_excel('Courier Company - Rates.xlsx')

print("Order Report:")
print(order_report.head())
print("\nSKU Master:")
print(sku_master.head())
print("\nPincode Mapping:")
print(pincode_mapping.head())
print("\nCourier Invoice:")
print(courier_invoice.head())
print("\nCourier Company rates:")
print(courier_company_rates.head())

Order Report:
   ExternOrderNo            SKU  Order Qty Payment Mode  Item Price(Per Qty.)
0     2001827036  8904223818706          1          COD                   233
1     2001827036  8904223819093          1          COD                   233
2     2001827036  8904223819109          1          COD                   233
3     2001827036  8904223818430          1          COD                   470
4     2001827036  8904223819277          1          COD                   233

SKU Master:
             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

Pincode Mapping:
   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

Courier Invoice:
        AWB Code    Order ID  Charged Weight  Warehouse Pincode  \
0  1091117222124  2001806232            1.30             121003
1  1091117222194  2001806273            1.00             121003
2  1091117222931  2001806408            2.50             121003
3  1091117223244  2001806458            1.00             121003
4  1091117229345  2001807012            0.15             121003

   Customer Pincode Zone Type of Shipment  Billing Amount (Rs.)
0            507101    d  Forward charges                 140.0
1            486886    d  Forward charges                 101.2
2            532484    d  Forward charges                 224.6
3            143001    b  Forward charges                  61.3
4            515591    d  Forward charges                  45.4

Courier Company rates:
  Zone  Weight Slabs  Forward Fixed Charge  \
0    A          0.25                  29.5
1    B          0.50                  33.0
2    C          0.75                  40.1
3    D          1.25                  45.4
4    E          1.50                  56.6

   Forward Additional Weight Slab Charge  RTO Fixed Charge  \
0                                   23.6              13.6
1                                   28.3              20.5
2                                   38.9              31.9
3                                   44.8              41.3
4                                   55.5              50.7

   RTO Additional Weight Slab Charge
0                               23.6
1                               28.3
2                               38.9
3                               44.8
4                               55.5

In [ ]:
print(order_report.isnull().sum())
print(sku_master.isnull().sum())
print(pincode_mapping.isnull().sum())
print(courier_invoice.isnull().sum())
print(courier_company_rates.isnull().sum())

ExternOrderNo           0
SKU                     0
Order Qty               0
Payment Mode            0
Item Price(Per Qty.)    0
dtype: int64
SKU           0
Weight (g)    0
dtype: int64
Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64
AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64
Zone                                     0
Weight Slabs                             0
Forward Fixed Charge                     0
Forward Additional Weight Slab Charge    0
RTO Fixed Charge                         0
RTO Additional Weight Slab Charge        0
dtype: int64

In [ ]:
merged_data = pd.merge(order_report, sku_master, on='SKU')
print(merged_data.head())

   ExternOrderNo            SKU  Order Qty Payment Mode  Item Price(Per Qty.)  \
0     2001827036  8904223818706          1          COD                   233
1     2001821995  8904223818706          1      Prepaid                   233
2     2001819252  8904223818706          1      Prepaid                   233
3     2001816996  8904223818706          1      Prepaid                   233
4     2001814580  8904223818706          1          COD                   233

   Weight (g)
0         127
1         127
2         127
3         127
4         127

In [ ]:
merged_data = merged_data.rename(columns={'ExternOrderNo': 'Order ID'})

In [ ]:
abc_courier = pincode_mapping.drop_duplicates(subset=['Customer Pincode'])
courier_abc= courier_invoice[['Order ID', 'Customer Pincode','Type of Shipment']]
pincodes= courier_abc.merge(abc_courier,on='Customer Pincode')
print(pincodes.head())

     Order ID  Customer Pincode Type of Shipment  Warehouse Pincode Zone
0  2001806232            507101  Forward charges             121003    d
1  2001806273            486886  Forward charges             121003    d
2  2001806408            532484  Forward charges             121003    d
3  2001806458            143001  Forward charges             121003    b
4  2001807012            515591  Forward charges             121003    d

In [ ]:
merged2 = merged_data.merge(pincodes, on='Order ID')
merged2['Weights (Kgs)'] = merged2['Weight (g)'] / 1000

In [ ]:
def weight_slab(weight):
    i = round(weight % 1, 1)
    if i == 0.0:
        return weight
    elif i > 0.5:
        return int(weight) + 1.0
    else:
        return int(weight) + 0.5

merged2['Weight Slab (KG)'] = merged2['Weights (Kgs)'].apply(weight_slab)
courier_invoice['Weight Slab Charged by Courier Company']=(courier_invoice['Charged Weight']).apply(weight_slab)

In [ ]:
courier_invoice = courier_invoice.rename(columns={'Zone': 'Delivery Zone Charged by Courier Company'})
merged2 = merged2.rename(columns={'Zone': 'Delivery Zone As Per ABC'})
merged2 = merged2.rename(columns={'Weight Slab (KG)': 'Weight Slab As Per ABC'})
merged2.head(2)

,Order ID,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone As Per ABC,Weights (Kgs),Weight Slab As Per ABC
0,2001827036,8904223818706,1,COD,233,127,173213,Forward charges,121003,e,0.127,0.5
1,2001827036,8904223819093,1,COD,233,150,173213,Forward charges,121003,e,0.150,0.5

In [ ]:
total_expected_charge = []
for _, row in merged2.iterrows():
  fwd_category = row['Delivery Zone As Per ABC']
  rto_category = row['Delivery Zone As Per ABC']
  weight_slab = row['Weight Slab As Per ABC']

  for i in range(0,5):
    dff=courier_company_rates.at[i,'Zone']
    if dff==fwd_category.upper():

      fwd_fixed = courier_company_rates.at[i, 'Forward Fixed Charge']
      fwd_additional = courier_company_rates.at[i, 'Forward Additional Weight Slab Charge']
      rto_fixed = courier_company_rates.at[i, 'RTO Fixed Charge']
      rto_additional = courier_company_rates.at[i, 'RTO Additional Weight Slab Charge']
      if row['Type of Shipment'] == 'Forward charges':
        additional_weight = max(0, (weight_slab - 0.5) / 0.5)
        total_expected_charge.append(fwd_fixed + additional_weight * fwd_additional)
      elif row['Type of Shipment'] == 'Forward and RTO charges':
        additional_weight = max(0, (weight_slab - 0.5) / 0.5)
        total_expected_charge.append(fwd_fixed + additional_weight * (fwd_additional + rto_additional))
      else:
        total_expected_charge.append(0)

merged2['Expected Charge as per ABC'] = total_expected_charge
print(merged2.head())

     Order ID            SKU  Order Qty Payment Mode  Item Price(Per Qty.)  \
0  2001827036  8904223818706          1          COD                   233
1  2001827036  8904223819093          1          COD                   233
2  2001827036  8904223819109          1          COD                   233
3  2001827036  8904223818430          1          COD                   470
4  2001827036  8904223819277          1          COD                   233

   Weight (g)  Customer Pincode Type of Shipment  Warehouse Pincode  \
0         127            173213  Forward charges             121003
1         150            173213  Forward charges             121003
2         100            173213  Forward charges             121003
3         165            173213  Forward charges             121003
4         350            173213  Forward charges             121003

  Delivery Zone As Per ABC  Weights (Kgs)  Weight Slab As Per ABC  \
0                        e          0.127                     0.5
1                        e          0.150                     0.5
2                        e          0.100                     0.5
3                        e          0.165                     0.5
4                        e          0.350                     0.5

   Expected Charge as per ABC
0                        56.6
1                        56.6
2                        56.6
3                        56.6
4                        56.6

In [ ]:
merged_output = merged2.merge(courier_invoice, on='Order ID')
print(merged_output.head())

     Order ID            SKU  Order Qty Payment Mode  Item Price(Per Qty.)  \
0  2001827036  8904223818706          1          COD                   233
1  2001827036  8904223819093          1          COD                   233
2  2001827036  8904223819109          1          COD                   233
3  2001827036  8904223818430          1          COD                   470
4  2001827036  8904223819277          1          COD                   233

   Weight (g)  Customer Pincode_x Type of Shipment_x  Warehouse Pincode_x  \
0         127              173213    Forward charges               121003
1         150              173213    Forward charges               121003
2         100              173213    Forward charges               121003
3         165              173213    Forward charges               121003
4         350              173213    Forward charges               121003

  Delivery Zone As Per ABC  ...  Weight Slab As Per ABC  \
0                        e  ...                     0.5
1                        e  ...                     0.5
2                        e  ...                     0.5
3                        e  ...                     0.5
4                        e  ...                     0.5

   Expected Charge as per ABC       AWB Code  Charged Weight  \
0                        56.6  1091122418320             1.6
1                        56.6  1091122418320             1.6
2                        56.6  1091122418320             1.6
3                        56.6  1091122418320             1.6
4                        56.6  1091122418320             1.6

   Warehouse Pincode_y  Customer Pincode_y  \
0               121003              173213
1               121003              173213
2               121003              173213
3               121003              173213
4               121003              173213

   Delivery Zone Charged by Courier Company Type of Shipment_y  \
0                                         b    Forward charges
1                                         b    Forward charges
2                                         b    Forward charges
3                                         b    Forward charges
4                                         b    Forward charges

  Billing Amount (Rs.)  Weight Slab Charged by Courier Company
0                117.9                                     2.0
1                117.9                                     2.0
2                117.9                                     2.0
3                117.9                                     2.0
4                117.9                                     2.0

[5 rows x 21 columns]

In [ ]:
df_diff = merged_output
df_diff['Difference (Rs.)'] = df_diff['Billing Amount (Rs.)'] - df_diff['Expected Charge as per ABC']

df_new = df_diff[['Order ID', 'Difference (Rs.)', 'Expected Charge as per ABC']]

print(df_new.head())

     Order ID  Difference (Rs.)  Expected Charge as per ABC
0  2001827036              61.3                        56.6
1  2001827036              61.3                        56.6
2  2001827036              61.3                        56.6
3  2001827036              61.3                        56.6
4  2001827036              61.3                        56.6

In [ ]:
# Calculate the total orders in each category
total_correctly_charged = len(df_new[df_new['Difference (Rs.)'] == 0])
total_overcharged = len(df_new[df_new['Difference (Rs.)'] > 0])
total_undercharged = len(df_new[df_new['Difference (Rs.)'] < 0])

# Calculate the total amount in each category
amount_overcharged = abs(df_new[df_new['Difference (Rs.)'] > 0]['Difference (Rs.)'].sum())
amount_undercharged = df_new[df_new['Difference (Rs.)'] < 0]['Difference (Rs.)'].sum()
amount_correctly_charged = df_new[df_new['Difference (Rs.)'] == 0]['Expected Charge as per ABC'].sum()

# Create a new DataFrame for the summary
summary_data = {'Description': ['Total Orders where ABC has been correctly charged',
                                'Total Orders where ABC has been overcharged',
                                'Total Orders where ABC has been undercharged'],
                'Count': [total_correctly_charged, total_overcharged, total_undercharged],
                'Amount (Rs.)': [amount_correctly_charged, amount_overcharged, amount_undercharged]}

df_summary = pd.DataFrame(summary_data)

print(df_summary)

                                         Description  Count  Amount (Rs.)
0  Total Orders where ABC has been correctly charged     12         507.6
1        Total Orders where ABC has been overcharged    382       34704.5
2       Total Orders where ABC has been undercharged      7        -109.2

In [ ]:
with pd.ExcelWriter('final_result.xlsx', engine="openpyxl") as writer:
  df_summary.to_excel(writer, sheet_name='summary')
  df_new.to_excel(writer, sheet_name='result')
#writer.save('final_result.xlsx')